// navbar
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/")
        img(src="/favicon.ico")
    ul.nav.navbar-nav
      li
        a(href="/part-a") Part a
      li
        a(href="/part-b") Part b
